.vue-slider-component {
  .vue-slider {
    background-color: $gray-5;
  }

  .vue-slider-process {
    background-color: $green-2;
  }

  .vue-slider-dot {
    background: $main-gray;
  }

  .vue-slider-tooltip {
    background-color: $black;
    border-color: $black;
  }
}

