.breadcrumb {
  background-color: transparent;
  padding: 0;

  .breadcrumb-item {
    > a {
      color: $main-green;

      &:hover {
        color: $green-1;
      }
    }
    
    &.active {
      color: $gray-2;
    }
  }
}