.btn {
  display: inline-block;
  padding: 8px 14px;
  background-color: $black-2;
  color: $white;
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: none;
  border-radius: 0;
  font-size: 16px;

  &:hover {
    background-color: $black;
    
    .fa {
      color: $main-green;
    }
  }

  &:focus,
  &:active {
    box-shadow: none;
  }
}

.btn-group {
  button {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}
