input[type="text"],
input[type="number"],
input[type="password"],
textarea {
  &.form-control {
    background-color: $black-2;
    color: $gray-4;
    border-radius: 0;
    border: 1px solid transparent;

    &:focus {
      background-color: $black-2;
      border-color: $main-green;
      color: $gray-4;
    }

    &.is-invalid {
      &:focus {
        border-color: $main-red;
      }
    }
  }
}

input[type="range"] {
  &.custom-range {
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;

    &:focus {
      outline: none;
    }

    &::-webkit-slider-runnable-track {
      -webkit-appearance: none;
      height: 2px;
      background: $green-2;
      background: linear-gradient(to right, $green-3, $green-2);
    }

    &::-moz-range-track {
      -moz-appearance: none;
      height: 2px;
      background: $green-2;
      background: linear-gradient(to right, $green-3, $green-2);
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      border: 2px solid;
      border-radius: 50%;
      height: 15px;
      width: 15px;
      max-width: 80px;
      position: relative;
      bottom: 6px;
      border-color: $gray-5;
      background-color: $black;
      cursor: -webkit-grab;
      transition: border 1s ease;
    }

    &::-moz-range-thumb {
      -moz-appearance: none;
      border: 2px solid;
      border-radius: 50%;
      height: 15px;
      width: 15px;
      max-width: 80px;
      position: relative;
      bottom: 6px;
      border-color: $gray-5;
      background-color: $black;
      cursor: grab;
      transition: border 1s ease;
    }

    &::-webkit-slider-thumb:active {
      cursor: -webkit-grabbing;
    }

    &::-moz-range-thumb:active {
      cursor: grabbing;
    }
  }
}



