table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  background-color: transparent;
  font-size: 15px;

  th,
  td {
    font-weight: 300;
    border-top: 1px solid $black-2;
    padding: 8px;

    a {
      display: block;
    }

    i.fa {
      font-size: 12px;
    }
  }

  tr:hover {
    background-color: $black-2;
  }

  &.bordered {
    th,
    td {
      border: 1px solid $black-2;
    }
  }
}