// COLORS:
$main-blue: #222f40;
$blue-1: #26374b;
$blue-2: #233349;
$blue-3: #26374b;
$blue-4: #223347;

$blue-5: #0288D1;

$main-black: #1b1c20;
$black-1: #22262d;
$black-2: #2b303b;
$black-3: #090B15;
$black-4: #151618;
$black-5: #121215;
$black-6: #181818;

$main-green: #89b025;
$green-1: #7db025;
$green-2: #a6e22e;
$green-3: #42663d;

$main-yellow: #f1c40f;

$main-red: #e74c3c;
$red-1: #c0392b;
$red-2: #e84343;

$main-gray: #3e4a58;
$gray-1: #8996a2;
$gray-2: #b3bbc3;
$gray-3: #989899;
$gray-4: #ddd;
$gray-5: #73879c;

$main-red: #dc3545;

$white: #fff;
$black: #000;

$transparent-black: rgba(0, 0, 0, .8);


// HEADER
$header-height: 54px;

